html,
body {
  margin: 0;
  background-color: #2f4f30;
  color: azure;
}


.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}



.game-card {
  position: relative;
  width: 150px;
  left: 100px;
  top: 30px;
  margin-left: -75px;
}

#player-cards,
#dealer-cards {
  height: 230px;

}